.change-password-container {
    padding: 40px;
}

.change-password-card {
    background: white;
    padding: 40px;
    border-radius: 12px;
    max-width: 500px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 6px;
    color: #073A61;
}

.form-group input {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.buttons {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.save-btn {
    background: #113F67;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
}

.cancel-btn {
    background: #6c757d;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 30px 40px;
    border-radius: 10px;
    text-align: center;
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.yes-btn {
    background: #113F67;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
}

.no-btn {
    background: #dc3545;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
}
