/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #2c3e50;
    height: 100vh;
}

/* CENTER WRAPPER */
.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* OUTER CONTAINER */
.container {
    width: 380px;
    background: white;
    padding: 50px 20px;
    border-radius: 18px;
    position: relative;
    box-shadow: 0 25px 60px rgba(0,0,0,0.25);
}

/* TITLE */
.container h2 {
    text-align: center;
    margin-bottom: 60px;
    color: #2c3e50;
}

/* BACK ARROW */
.back-arrow {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #4fc3f7;
    font-size: 20px;
}

/* LABEL */
label {
    display: block;
    width: 80%;
    margin-bottom: 6px;
    margin-left: 23px;
    font-weight: 600;
    font-size: 14px;
}

label i {
    color: #4fc3f7;
    margin-right: 6px;
}

/* PASSWORD WRAPPER */
.password-wrapper {
    position: relative;
    width: 300px;
    margin: 0 auto 40px auto;
}

.password-wrapper input {
    width: 100%;
    padding: 14px 45px 14px 14px;
    border-radius: 10px;
    border: 2px solid #e0e6ed;
    font-size: 14px;
}

.password-wrapper input:focus {
    border-color: #4fc3f7;
    outline: none;
}

.password-wrapper .toggle-password {
    position: absolute;
    right: 15px;
    top: 14px;
    cursor: pointer;
    color: #4fc3f7;
}

/* REMOVE DEFAULT BROWSER EYE */
input[type="password"]::-ms-reveal {
    display: none;
}


/* BUTTON */
button {
    width: 80%;
    display: block;
    margin: 10px auto 0 auto;
    padding: 14px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    font-size: 14px;
    background: #4fc3f7;
    color: #2c3e50;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

/* MODAL */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
    width: 320px;
}

.modal-box i {
    font-size: 50px;
    margin-bottom: 15px;
}
