body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #2c3e50;
}

.register-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-container {
    width: 1050px;
    height: 550px;
    background: white;
    padding: 50px 60px;
    border-radius: 20px;
    box-shadow: 0 25px 60px rgba(0,0,0,0.25);
}

.register-container h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 45px;
    font-size: 32px;
    margin-top: -20px;
}

/* GRID */
.register-grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.2fr;
    gap: 50px;
}

/* PROFILE */
.profile-section {
    text-align: center;
}

.profile-preview {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #4fc3f7;
    margin: 0 auto 20px;
}

.profile-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}


.upload-btn,
.remove-btn {
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    border: none;
}

.upload-btn {
    background: #4fc3f7;
    color: #2c3e50;
}

.remove-btn {
    background: #e74c3c;
    color: white;
}

/* FORM COLUMNS */
.form-column label {
    display: block;
    font-weight: 600;
    margin-bottom: 6px;
    color: #2c3e50;
}

.form-column label i {
    color: #4fc3f7;
    margin-right: 6px;
}

.form-column input {
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #e0e6ed;
    margin-bottom: 20px;
    font-size: 14px;
    transition: 0.2s ease;
}

.form-column input:focus {
    border-color: #4fc3f7;
    outline: none;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: 72%;
    padding: 12px 40px 12px 12px;
    border-radius: 8px;
    border: 2px solid #e0e6ed;
}

.password-wrapper i {
    position: absolute;
    right: 60px;
    top: 14px;
    cursor: pointer;
    color: #4fc3f7;
}

/* REMOVE DEFAULT BROWSER EYE */
input[type="password"]::-ms-reveal {
    display: none;
}


/* BUTTON */
.button-section {
    text-align: center;
    margin-top: 30px;
}

.button-section button {
    padding: 15px 50px;
    background: #4fc3f7;
    color: #2c3e50;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* BOTTOM LINK */
.bottom-link {
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
}

.bottom-link a {
    color: #4fc3f7;
    font-weight: 600;
    text-decoration: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-box {
    background: white;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
    width: 350px;
}

.modal-box i {
    font-size: 50px;
    color: #4fc3f7;
    margin-bottom: 15px;
}

.error-text {
    color: #e74c3c;
    font-size: 12px;
    display: block;
    margin-top: -13px;
    margin-bottom: 10px;
}

.input-error {
    border: 1px solid #e74c3c !important;
}
