/* BODY BACKGROUND */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #2c3e50; /* DARK BACKGROUND */
}

/* CENTER WRAPPER */
.login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* WHITE CONTAINER */
.login-container {
    width: 460px;
    background-color: white;
    padding: 60px 30px;
    border-radius: 18px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.2);
}

/* HEADER */
.login-container h1 {
    font-size: 42px;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 10px;
    text-align: center;
    margin-top: -35px;
}

.subtitle {
    color: #5a6b7b;
    margin-bottom: 60px;
    text-align: center;
}

/* FORM */
.form-group {
    margin-bottom: 25px;
}

.form-group label {
    display: block;
    font-weight: 600;
    color: #2c3e50;
    margin-bottom: 8px;
    margin-left: 35px;
}

.form-group label i {
    color: #4fc3f7;
    margin-right: 8px;
}


/* INPUTS */
.form-group input {
    width: 80%; 
    display: block;
    margin: 0 auto;
    padding: 15px;
    border-radius: 12px;
    border: 2px solid #e0e6ed;
    font-size: 15px;
    outline: none;
    transition: 0.2s ease;
}


.form-group input:focus {
    border-color: #4fc3f7;
}

/* PASSWORD */
.password-wrapper {
    position: relative;
}

.password-wrapper .toggle-password {
    position: absolute;
    right: 50px;
    top: 18px;
    color: #4fc3f7;
    cursor: pointer;
}

input[type="password"]::-ms-reveal {
    display: none;
}


/* OPTIONS */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 30px;
    font-size: 14px;
}

.options a {
    color: #4fc3f7;
    text-decoration: none;
    margin-right: 34px;
}

/* BUTTON */
.login-btn {
    width: 85%;
    padding: 18px;
    border-radius: 14px;
    border: none;
    background: #4fc3f7;
    color: #2c3e50;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
    margin-left: 35px;
}

.login-btn i {
    margin-right: 8px;
}

.login-btn:hover {
    opacity: 0.9;
}

/* BOTTOM LINK */
.bottom-link {
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
    color: #2c3e50;
}

.bottom-link a {
    color: #4fc3f7;
    text-decoration: none;
    font-weight: 600;
}


/* ERROR */
.error {
    width: 80%;
    margin: -25px auto 20px auto;
    padding: 12px 15px;
    border: 1px solid #f5c2c7;
    background-color: #f8d7da;
    color: #842029;
    border-radius: 8px;
    font-size: 14px;
}

